.cardWrapper{
    display: inline-flex;
    flex-direction: row;
    font-family: "Comic Sans MS";
    width: max(300px, 30%);
    background-color: rgb(41, 113, 180);
    border-radius: 15px;
    margin: 15px;
}

.city{
    font-size: 16pt;
    font-weight: bold;
}

.col1{
    flex: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-bottom: 10%;
}

.col2{
    flex: 75%;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.card-description{
    background-color: beige;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

/*
.loading{
    padding: 10%;
}
*/